.home_box{
    margin: 10px 10px;
    width : 200px;
    border: 5px solid rgb(43, 43, 43);
    width : 50px;
}
header {
    
    width : 50px;
    display: inline-block;
    font-weight: 500;
    color: #31a2ff;
}
button{
    height : 50px;
    width :50px;   
}
th,td {
 
    border : 2px solid rgb(43, 43, 43);

}
